<!DOCTYPE html>
<html>
<head>
<title>همنورد</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body id="myPage">

<!-- Sidebar on click -->
<!--<nav class="w3-sidebar w3-bar-block w3-white w3-card w3-animate-left w3-xxlarge" style="display:none;z-index:2" id="mySidebar">
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-bar-item w3-button w3-display-topright w3-text-teal">Close
    <i class="fa fa-remove"></i>
  </a>
  <a href="#" class="w3-bar-item w3-button">Link 1</a>
  <a href="#" class="w3-bar-item w3-button">Link 2</a>
  <a href="#" class="w3-bar-item w3-button">Link 3</a>
  <a href="#" class="w3-bar-item w3-button">Link 4</a>
  <a href="#" class="w3-bar-item w3-button">Link 5</a>
</nav>-->

<!-- Navbar -->
<div class="w3-top">
 <div class="w3-bar w3-theme-d2 w3-left-align">
  <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-hover-white w3-theme-d2" href="javascript:void(0);" onclick="openNav()"><i class="fa fa-bars"></i></a>
  <a href="#" class="w3-bar-item w3-button w3-right w3-teal"><i class="fa fa-home w3-margin-right"></i>صفحه‌ی اصلی</a>
  <a href="#courses" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-white">دوره‌ها</a>
  <a href="#articles" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-white">مقالات</a>
  <a href="#news" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-white">اخبار</a>
  <a href="#contact" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-white">تماس با ما</a>
    <!--<div class="w3-dropdown-hover w3-hide-small">
    <button class="w3-button" title="Notifications">Dropdown <i class="fa fa-caret-down"></i></button>     
    <div class="w3-dropdown-content w3-card-4 w3-bar-block">
      <a href="#" class="w3-bar-item w3-button">Link</a>
      <a href="#" class="w3-bar-item w3-button">Link</a>
      <a href="#" class="w3-bar-item w3-button">Link</a>
    </div>
  </div>-->
  <!--<a href="#" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-teal" title="Search"><i class="fa fa-search"></i></a>-->
 </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium">
    <a href="#courses" class="w3-right w3-bar-item w3-button">دوره‌ها</a>
    <a href="#articles" class="w3-right w3-bar-item w3-button">مقالات</a>
    <a href="#news" class="w3-right w3-bar-item w3-button">اخبار</a>
    <a href="#contact" class="w3-right w3-bar-item w3-button">تماس با ما</a>
    <!--<a href="#" class="w3-bar-item w3-button">Search</a>-->
  </div>
</div>

<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
  <img src="https://www.w3schools.com/w3images/sailboat.jpg" alt="boat" style="width:100%;min-height:350px;max-height:600px;">
  <div class="w3-container w3-display-bottomright w3-margin-bottom">  
    <h1 class="w3-xlarge w3-theme">موسسه فرهنگی همنورد</h1>
  	<!--<button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-xlarge w3-theme w3-hover-teal" title="Go To W3.CSS">LEARN W3.CSS</button>-->
  </div>
</div>

<!-- Modal -->
<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
    <header class="w3-container w3-teal w3-display-container"> 
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
      <h4>Oh snap! We just showed you a modal..</h4>
      <h5>Because we can <i class="fa fa-smile-o"></i></h5>
    </header>
    <div class="w3-container">
      <p>Cool huh? Ok, enough teasing around..</p>
      <p>Go to our <a class="w3-text-teal" href="/w3css/default.asp">W3.CSS Tutorial</a> to learn more!</p>
    </div>
    <footer class="w3-container w3-teal">
      <p>Modal footer</p>
    </footer>
  </div>
</div>

<!-- درباره ی ما -->
<div class="w3-container" id="aboutus">
  <div class="w3-row-padding">
    <div class="w3-right ">
      <h2 ALIGN=RIGHT">معرفی موسسه<br/></h2>
      <p style="direction:rtl">توضیحات معرفی باید در این قسمت قرار گیرند</p>
    </div> 
  </div>
</div>

<!-- Team Container دوره‌ها -->
<div class="w3-container w3-padding-64 w3-center" id="courses">
<h2>دوره‌های همنورد</h2>
<p style="direction:rtl">دوره‌‌های اخیر همنورد در اینجا قابل مشاهده هستند:</p>


<div class="w3-row"><br>

<div class="w3-quarter w3-right">
  <img src="https://www.w3schools.com/w3images/sailboat.jpg" alt="دوره‌ی سوم" style="width:70%" class="w3-circle w3-hover-opacity">
  <h3>دوره‌ی مقدماتی</h3>
  <p style="direction:rtl">در انتهای دوره‌ی مقدماتی، برداشتی از چرایی نیاز به بحث درباره‌ی زندگی معنادار به دست خواهدآمد. همنوردان با رویکرد دوره‌های موسسه‌ی همنورد آشنا می‌شوند.</p>
</div>

<div class="w3-quarter w3-right">
  <img src="https://www.w3schools.com/w3images/sailboat.jpg" alt="دوره‌ی سوم" style="width:70%" class="w3-circle w3-hover-opacity">
  <h3>دوره‌ی اول</h3>
  <p style="direction:rtl">در انتهای دوره‌ی اول، ما و همه‌ی همنوردا به شناخت بهتری از خود می رسیم و با مجهزشدن به تفکر صحیح، خلاق و نقادانه قادر خواهیم‌بود با نگاه جدید و جامعی به مسائل زندگی بنگریم..</p>
</div>

<div class="w3-quarter w3-right">
  <img src="https://www.w3schools.com/w3images/sailboat.jpg" alt="دوره‌ی سوم" style="width:70%" class="w3-circle w3-hover-opacity">
  <h3>دوره‌ی دوم</h3>
  <p style="direction:rtl">در انتهای دوره‌ی دوم، ما و همه‌ی همنوردان با توحید و نگرش توحیدی در زندگی آشنا می‌شویم و قادر به سامان‌دهی روابطمان بر اساس آن خواهیم‌بود.</p>
</div>

<div class="w3-quarter w3-right">
  <img src="https://www.w3schools.com/w3images/sailboat.jpg" alt="دوره‌ی سوم" style="width:70%" class="w3-circle w3-hover-opacity">
  <h3>دوره‌ی سوم</h3>
  <p style="direction:rtl">در انتهای دوره‌ی سوم، ما و همه‌ی همنوردان شناخت عمیق‌تری از حقیقیت وجودی خود به دست آورده و قادر خواهیم بود به نگاهی عمیق و نقادانه از معنای زندگی برسیم.</p>
</div>

</div>
<button class="w3-button w3-teal w3-padding-large w3-center">تمام دوره‌ها</button>
</div>

<!-- Work Row مقالات-->
<div class="w3-row-padding w3-padding-64 w3-theme-l1" id="articles">

<div class="w3-quarter w3-right">
<h2 style="direction:rtl">مقالات</h2>
<p style="direction:rtl">در صورت نیاز توضیحاتی درباره‌ی محتوای مقالات و مخاطب آن‌ها و هدف قرار گرفتن آن‌ها در سایت در اینجا ارائه می شود </p>
<button class="w3-button w3-teal w3-padding-large w3-right">تمام مقالات</button>
</div>

<div class="w3-quarter w3-right">
<div class="w3-card w3-white">
  <img src="https://www.w3schools.com/w3images/sailboat.jpg" alt="نام مقاله‌ی اول" style="width:100%">
  <div class="w3-container">
  <h3 style="direction:rtl">نام مقاله ی اول</h3>
  <!--<h4>Trade</h4>-->
  <p style="direction:rtl">خلاصه‌ای از محتوا یا چکیده‌ی مقاله‌ی اول</p>
  </div>
  </div>
</div>


<div class="w3-quarter w3-right">
<div class="w3-card w3-white">
  <img src="https://www.w3schools.com/w3images/sailboat.jpg" alt="نام مقاله‌ی دوم" style="width:100%">
  <div class="w3-container">
  <h3 style="direction:rtl">نام مقاله ی دوم</h3>
  <!--<h4>Trade</h4>-->
  <p style="direction:rtl">خلاصه‌ای از محتوا یا چکیده‌ی مقاله‌ی دوم</p>
  </div>
  </div>
</div>

<div class="w3-quarter w3-right">
<div class="w3-card w3-white">
  <img src="https://www.w3schools.com/w3images/sailboat.jpg" alt="نام مقاله‌ی سوم" style="width:100%">
  <div class="w3-container">
  <h3 style="direction:rtl">نام مقاله ی سوم</h3>
  <!--<h4>Trade</h4>-->
  <p style="direction:rtl">خلاصه‌ای از محتوا یا چکیده‌ی مقاله‌ی سوم</p>
  </div>
  </div>
</div>

</div>

<!-- Container -->
<!--<div class="w3-container" style="position:relative">
  <a onclick="w3_open()" class="w3-button w3-xlarge w3-circle w3-teal"
  style="position:absolute;top:-28px;right:24px">+</a>
</div>-->

<!-- Pricing Row اخبار-->
<div class="w3-row-padding w3-padding-64" id="news">
    <h2 style="direction:rtl">اخبار</h2>
    <p style="direction:rtl">آخرین اخبار و اطلاعیه‌های همنورد را می‌توانید از این قسمت دنبال کنید</p><br>
    <div ALIGN=RIGHT class="w3-margin-bottom">
      <ul class="w3-ul w3-border w3-hover-shadow">
        <li class="w3-padding-16"> اطلاعیه‌ی اول</li>
        <li style="direction:rtl" class="w3-padding-16">اطلاعیه‌ی دوم</li>
        <li style="direction:rtl" class="w3-padding-16">اظلاعیه‌ی سوم</li>
        <li style="direction:rtl" class="w3-padding-16">اطلاعیه‌ی چهارم</li>
        <li style="direction:rtl" class="w3-theme-l5 w3-padding-24">
          <button class="w3-button w3-teal w3-padding-large w3-center">تمام اخبار</button>
        </li>
      </ul>
    </div>
</div>

<!-- Contact Containerتماس با ما  -->
<div class="w3-container w3-padding-64 w3-theme-l5" id="contact">
  <div class="w3-row">
    <div ALIGN=RIGHT class="w3-col m7">
      <form class="w3-container w3-card-4 w3-padding-16 w3-white" action="/action_page.php" target="_blank">
      <div class="w3-section">      
        <label>نام و نام خانوادگی</label>
        <input class="w3-input" type="text" name="Name" required>
      </div>
      <div class="w3-section">      
        <label>ایمیل</label>
        <input class="w3-input" type="text" name="Email" required>
      </div>
      <div class="w3-section">      
        <label>پیام</label>
        <input class="w3-input" type="text" name="Message" required>
      </div>  
      <!--<input class="w3-check" type="checkbox" checked name="Like">
      <label>I Like it!</label>-->
      <button type="submit" class="w3-button w3-right w3-theme">ارسال</button>
      </form>
    </div>
	<div ALIGN=RIGHT class="w3-col m5">
    <div class="w3-padding-16"><span class="w3-xlarge w3-border-teal w3-bottombar">تماس با ما</span></div>
      <h3>نشانی</h3>
      <!--<p>Swing by for a cup of coffee, or whatever.</p>-->
      <p>آدرس موسسه در این قسمت قرار می گیرد <i style="direction:rtl" class="fa fa-map-marker w3-text-teal w3-xlarge"></i></p>
      <p>۰۲۱-۱۲۳۴۵۶۷۸ <i style="direction:rtl" class="fa fa-phone w3-text-teal w3-xlarge"></i></p>
      <p>نشانی ایمیل موسسه <i style="direction:rtl" class="fa fa-envelope-o w3-text-teal w3-xlarge"></i></p>
    </div>
  </div>
</div>

<!-- Image of location/map -->
<!--<img src="/w3images/map.jpg" class="w3-image w3-greyscale-min" style="width:100%;">-->

<!-- Footer -->
<footer class="w3-container w3-padding-32 w3-theme-d1 w3-center">
  <h4>ما را دنبال کنید</h4>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Facebook"><i class="fa fa-facebook"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Twitter"><i class="fa fa-twitter"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-google-plus"></i></a>
  <a class="w3-button w3-large w3-teal" href="javascript:void(0)" title="Google +"><i class="fa fa-instagram"></i></a>
  <a class="w3-button w3-large w3-teal w3-hide-small" href="javascript:void(0)" title="Linkedin"><i class="fa fa-linkedin"></i></a>

  <!--<div style="position:relative;bottom:100px;z-index:1;" class="w3-tooltip w3-right">
    <span class="w3-text w3-padding w3-teal w3-hide-small">بازگشت به بالای صفحه</span>   
    <a class="w3-button w3-theme" href="#myPage"><span class="w3-xlarge">
    <i class="fa fa-chevron-circle-up"></i></span></a>
  </div>-->
</footer>

<script>
// Script for side navigation
function w3_open() {
  var x = document.getElementById("mySidebar");
  x.style.width = "300px";
  x.style.paddingTop = "10%";
  x.style.display = "block";
}

// Close side navigation
function w3_close() {
  document.getElementById("mySidebar").style.display = "none";
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>

</body>
</html>
