{% extends 'blog/base.html' %}
{% block content %}
{% load static %}
<!-- Image Header -->
<div class="w3-display-container w3-animate-opacity">
  <img src="{% static 'image/myindex.png' %}" alt="boat" style="width:100%;min-height:350px;max-height:600px;">
  <div class="w3-container w3-display-bottomright w3-margin-bottom">  
    <h1 class="typewriter">موسسه فرهنگی همنورد</h1>
  	<!--<button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-xlarge w3-theme w3-hover-teal" title="Go To W3.CSS">LEARN W3.CSS</button>-->
  </div>
</div>

<!-- Modal 
<div id="id01" class="w3-modal">
  <div class="w3-modal-content w3-card-4 w3-animate-top">
    <header class="w3-container w3-teal w3-display-container"> 
      <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-teal w3-display-topright"><i class="fa fa-remove"></i></span>
      <h4>Oh snap! We just showed you a modal..</h4>
      <h5>Because we can <i class="fa fa-smile-o"></i></h5>
    </header>
    <div class="w3-container">
      <p>Cool huh? Ok, enough teasing around..</p>
      <p>Go to our <a class="w3-text-teal" href="/w3css/default.asp">W3.CSS Tutorial</a> to learn more!</p>
    </div>
    <footer class="w3-container w3-teal">
      <p>Modal footer</p>
    </footer>
  </div>
</div>-->

<!-- درباره ی ما -->
<div class="w3-container" id="aboutus">
  <div class="w3-row-padding">
    <div>
      <h2 class="w3-center reveal animateright">معرفی موسسه<br/></h2>
      <p class="w3-right reveal animateleft mmm-justify" style="direction:rtl">نقل است كه مرحوم قاضى رضوان الله عليه مى‏فرمودند: كه بهترين راه و سريعترين راه كه براى از بين بردن اغراض و نيّتهاى نفسانى كه در سلوك راه خدا مؤثّر باشد و حكم راه ميان بُرى كه يكباره سالك را نجات دهد و از هر داعيه و انگيزه غيرالهى و بالاخره از صفت بيرون آورد احراق است و آن طريقه را قرآن مجيد آموخته است. مثلًا كسى كه به او مصيبتى وارد آيد از موت اهل و فرزند يا غير آنها به طرق مختلفى مى‏توان خود را تسكين دهد مانند آنكه اين اهل و فرزند ممكن بود در آتيه براى من ضرر داشته باشند يا در انجام خواسته‏هاى خود مرا خسته كنند يا آنكه ديگران نيز مانند من زن و فرزند خود را از دست داده و مى‏دهند و نظائر آن.</p>
    </div> 
  </div>
</div>

<!-- Team Container دوره‌ها -->
<div class="w3-container w3-padding-64 w3-center" id="courses">
<h2>دوره‌های جاری همنورد</h2>
<p style="direction:rtl">دوره‌‌های اخیر همنورد در اینجا قابل مشاهده هستند:</p>


<div class="w3-row"><br>
{% for course in courses %}
  <div class="w3-quarter w3-right">
    <div><a href="{% url 'current_course' pk=course.pk %}"><img src="{{course.picture.url}}" alt="{{course.title}}" style="width:45%" class="mmm-hover-enlarge reveal animatezoom"></a></div>
    <h3 class="reveal opac">{{course.title}}</h3>
    <p class="reveal opac" style="direction:rtl">{{course.abstract}}</p>
  </div>
{% endfor %}
</div>
<a href="{% url 'pastcourses_list' %}" class="reveal animatetop w3-round-xxlarge w3-margin-right m-button w3-btn w3-teal w3-padding-large w3-center">دوره‌های قبلی</a>
</div>

<!-- Work Row مقالات-->
<div class="w3-row-padding w3-padding-64 w3-theme-l1" style="box-shadow: 0 20px 20px rgba(192, 244, 222, 1), 0 0 20px 20px rgba(192, 244, 222, 1)" id="articles">

<div class="w3-quarter w3-right">
<h2 style="direction:rtl">مقالات</h2>
<p style="direction:rtl">در صورت نیاز توضیحاتی درباره‌ی محتوای مقالات و مخاطب آن‌ها و هدف قرار گرفتن آن‌ها در سایت در اینجا ارائه می شود </p>
<a href="{% url 'articles_list'%}" class="reveal animatetop w3-round-xxlarge w3-margin-right m-button w3-btn w3-teal w3-padding-large w3-right">تمام مقالات</a>
</div>
{% for article in articles %}
  <div class="w3-quarter w3-right">
  <div class="w3-round-large w3-white reveal animatebottom">
    <div ALIGN=CENTER class="w3-center"><a href="{% url 'article' pk=article.pk %}"><img src="{{article.picture.url}}" alt="{{article.title}}" style="width:50%" class="reveal mmm-hover opacdel"></a></div>
    <div class="w3-container">
      <h3 style="direction:rtl">{{article.title}}</h3>
  <!--<h4>Trade</h4>-->
    <p style="direction:rtl">{{article.abstract}}</p>
    </div>
    </div>
  </div>
{% endfor %}
</div>

<!-- Container -->
<!--<div class="w3-container" style="position:relative">
  <a onclick="w3_open()" class="w3-button w3-xlarge w3-circle w3-teal"
  style="position:absolute;top:-28px;right:24px">+</a>
</div>-->

<!-- Pricing Row اخبار-->
<div class="w3-row-padding w3-padding-64" id="news">
    <h2 style="direction:rtl">اخبار</h2>
    <p style="direction:rtl">آخرین اخبار و اطلاعیه‌های همنورد را می‌توانید از این قسمت دنبال کنید</p><br>
    <div ALIGN=RIGHT class="w3-margin-bottom">
      <ul class="w3-ul w3-border">
        {% for new in news %}
          <li style="direction:rtl text-decoration:none" class="reveal myanimatetop w3-padding-32 w3-hover-shadow"><a href="{% url 'new' pk=new.pk %}" style="text-decoration:none;">{{new.title}}</a></li>
        {% endfor %}
        <!--<li style="direction:rtl" class="w3-padding-24">
      
        </li>-->
      </ul>
      <div class = "w3-padding-24 w3-center"></div>
      <a href="{% url 'news_list'%}" class="reveal animatetop w3-round-xxlarge w3-margin-right m-button w3-btn w3-teal w3-padding-large w3-center">تمام اخبار</a>
      </div>
    </div>
</div>

<!-- Contact Containerتماس با ما  -->
{% endblock %}

