{% extends 'blog/base.html' %}
{% block content %}
<div class="w3-row-padding w3-padding-64">
    <h2 style="direction:rtl">دوره‌های قبلی همنورد</h2>
    <p style="direction:rtl">زمان ثبت نام این دوره‌ها در حال حاضر به پایان رسیده و شما با انتخاب هر دوره می‌توانید ببینید طی آن به همنوردان چه گذشته‌است. امیدواریم در دوره‌های آتی شما را در کنا
	ر خود ببینیم</p><br>
    <div ALIGN=RIGHT class="w3-margin-bottom">
      <ul class="w3-ul w3-border w3-hover-shadow">
        <li class="w3-padding-16"><a href="{% url 'past_course'%}"> دوره‌ی اول</li>
        <li style="direction:rtl" class="w3-padding-16"><a href="{% url 'past_course'%}">دوره‌ی دوم</li>
        <li style="direction:rtl" class="w3-padding-16"><a href="{% url 'past_course'%}">دوره‌ی سوم</li>
        <li style="direction:rtl" class="w3-padding-16"><a href="{% url 'past_course'%}">دوره‌ی چهارم</li>
		<li style="direction:rtl" class="w3-padding-16"><a href="{% url 'past_course'%}">دوره‌ی پنجم</li>
        <li style="direction:rtl" class="w3-padding-16"><a href="{% url 'past_course'%}">دوره‌ی ششم</li>
        <li style="direction:rtl" class="w3-padding-16"><a href="{% url 'past_course'%}">دوره‌ی هفتم</li>
        <li style="direction:rtl" class="w3-padding-16"><a href="{% url 'past_course'%}">دوره‌ی هشتم</li>
        <li style="direction:rtl" class="w3-theme-l5 w3-padding-24">
        </li>
      </ul>
    </div>
</div>
{% endblock %}