<!DOCTYPE html>
<html>
    <head>
        <title>همنورد</title>
    </head>
    <body>
        <header>
            <h1><a href="/">موسسه فرهنگی همنورد</a></h1>
        </header>

        <article>
			<time>published: 14.08.2022, 12:14</time>
            <h2><a href="">هدف موسسه</a></h2>
            <p>در پایان دوره ها ما و همه ی همنوردان قادر خواهیم بود ....</p>
        </article>

        <article>
            <h2><a href="">معرفی دوره ها</a></h2>
				<h3><a href="">معرفی دوره ها</a></h3>
					<p>این دوره عموما بر تفکر صحیح و منطقی تاکید دارد. در پایان این دوره ما و همه‌ی
					 <strong>همنوردان</strong>
					  قادر خواهیم‌بود ...</p>
        </article>
    </body>
</html>

